{% extends "layout.html" %}
{% block body_content %}
    <p>A list of current algorithms in the database</p>
    {% for algorithm in algorithms %}
         <div>
            <h2>{{ algorithm.algorithm_name }}</h2>
            <p><b>Movement type:</b> {{ algorithm.movement_type }}</p>
            {% if current_user.is_authenticated %}
                <a href="{{url_for('updateAlgorithm', algorithm_id=algorithm.id)}}">
                    <input type="button" value="Update Algorithm">
                </a>
                <a href="{{url_for('deleteAlgorithm', algorithm_id=algorithm.id)}}">
                    <input type="button" value="Delete Algorithm">
                </a>
            {% endif %}
            <p>---------------------------------------------------</p>
        </div>
    {% endfor %}
{% endblock %}
