{% extends "layout.html" %}
{% block body_content %}
    <p>A list of current robots in the database</p>
    {% for robot in robots %}
         <div>
            <p><b>Model name:</b>{{ robot.model_name }}</p>
            <p><b>Drive type:</b> {{ robot.drive_type }}</p>
            <p><b>Height: </b> {{robot.height}}</p>
            <p><b>Width: </b> {{robot.width}}</p>
            <p><b>Length: </b> {{robot.length}}</p>
            {% if current_user.is_authenticated %}
                <a href="{{url_for('updateRobot', robot_id=robot.id)}}">
                    <input type="button" value="Update Robot">
                </a>
                <a href="{{url_for('deleteRobot', robot_id=robot.id)}}">
                    <input type="button" value="Delete Robot">
                </a>
            {% endif %} 
            <p>-----------------------------------------</p>
        </div>
    {% endfor %}
{% endblock %}
