{% extends "layout.html" %}
{% block body_content %}
    <p>A list of current robots in the database</p>
    {% for robot in robots %}
         <div>
            <h2>{{ robot.model_name }}</h2>
            <p><b>Drive type:</b> {{ robot.drive_type }}</p>
            <p><b>Height: </b> {{robot.height}}</p>
            <p><b>Width: </b> {{robot.width}}</p>
            <p><b>Length: </b> {{robot.length}}</p>
            <p>-----------------------------------------</p>
        </div>
    {% endfor %}
{% endblock %}
